/* src/ui/sidebar.css */
#aiw-sidebar-root {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background: black;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#aiw-projects-list {
  padding: 10px;
  overflow-y: auto;
}

#aiw-add-project-button {
  margin: 10px;
}

#aiw-bottom-buttons {
  display: flex;
}
